* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  background: rgb(245, 243, 243);
  scroll-behavior: smooth;
  background-image: linear-gradient(
      rgba(202, 190, 190, 0.4),
      rgba(235, 233, 233, 0.4)
    ),
    url(./images/bg9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #14010c;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.loader img{
  width: 100px;
  height: 100px;
}
 .hidden{
  animation: fadeout 0.8s;
  animation-fill-mode: forwards;
}

@keyframes fadeout{
  100%{
    opacity: 0;
    visibility: hidden;
  }
}

.header {
  /* background-image: linear-gradient(rgba(202, 190, 190, 0.4), rgba(235, 233, 233, 0.4)), */
  /* url(./images/bg9.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  /* box-shadow: 0 20px 200px rgba(27, 26, 26, 0.5); */
}
.nav {
  text-align: center;
  padding: 1.5rem;
  animation: slideInLeft 2s ease-in-out 1;
}
.navlinks {
  text-decoration: none;
  padding-right: 1rem;
  color: rgb(83, 4, 57);
  transition: all 1s;
  font-weight: bolder;
  /* background-color: cornsilk;
  border-radius: 5px; */
}
.nav:hover {
  transition: linear 2s;
}
.nav a:hover {
  transform: scale(1.1) !important;
}

@keyframes slideInLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.subheader {
  scroll-behavior: smooth;
  height: 90vh;
  color: rgb(245, 239, 242);
  animation-duration: 3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name,
.name2 {
  font-family: Moon Dance;
  font-size: 5rem;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 0rem;
  transform: translateY(-1rem);
}
.subheader p {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.8px;
  color: rgb(131, 10, 111);
  text-align: center;
  width: 40%;
  align-self: center;
  margin-top: 0;
}
@media only screen and (max-width: 758px) {
  html {
    font-size: 70%;
  }
  .subheader p {
    width: 60%;
  }
}

main {
  scroll-behavior: smooth;
  /* box-shadow: 0 0px 200px rgba(27, 26, 26, 0.5); */
  padding: 0 100px;
}
.profile {
  max-width: 80%;
  margin: 0 8rem;
  margin-top: 0rem;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  margin-bottom: 16rem !important;
  background-color: transparent;
  background-color: rgb(77, 9, 54);
  }



.aboutme {
  flex: 65%;
  display: block;
  align-content: center;
  justify-content: center;
  padding: 3rem;
  padding-left: 1rem;
  color: cornsilk;
  
  transition: background-color 0.9s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.aboutme p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.2rem;
  font-weight: 200;
  text-align: left;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  
}

.pi {
  flex: 35%;
  padding: 1rem;
  max-width: 23rem;
  background-color: cornsilk;
  transform: translate(-4rem,-3rem);
}

.profileimg {
  width: 100%;
  height: 100%;
  padding: 2px;
  transform: translate(4rem,-2rem);
}


.pi:hover .profileimg{
  transition:  ease-in 0.8s;
  transform: scale(0.95);
}

@media only screen and (max-width: 758px) {
  .main {
    padding: 0 80px;
  }
}
.skillheading {
  text-align: center !important;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 30%;
  color: rgb(83, 4, 57);}
.skillheading:hover {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: scale(0.8);
}
.skill {
  text-align: center;
  margin-bottom: 13rem;
}
.first,
.second,
.third,
.four {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 100px;
  /* background-color: 3px solid purple; */
}
.skillname {
  text-align: center;
  flex: 30%;
  color: cornsilk;
  line-height: 9px;
  transform: translateX(-3rem);
}
.skillname span{
  padding-left: 0.5rem;
color: rgb(83, 4, 57);
}
.progress {
  flex: 70%;
  height: 6px;
  background: cornsilk;
  border-radius: 6px;
  overflow: hidden;
}
.bar {
  width: 100%;
  display: block;
  justify-content: center;
  height: 100%;
  background: linear-gradient(
    90deg,
    #f05ece,
    #6d0f43,
    #9b1279,
    #d41c97,
    #b91675,
    #971c64,
    #f05db2
  );
  background-size: 300% 100%;
  /* animation: progress-animation 2s linear; */
}
.progress:hover .bar {
  animation: progress-animation 5s linear infinite;
}
@keyframes progress-animation {
  0% {
    background-position: 80%;
    /* width: 20%; */
  }
  20% {
    width: 20%;
  }
  40% {
    width: 60%;
  }
  60% {
    width: 80%;
  }
  100% {
    width: 100%;
    background-position: 0;
  }
}

.slider {
  height: auto;
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 5rem;
  overflow: hidden;
}
.slider-track {
  display: flex;
  flex-direction: row;
  width: calc(25rem * 10);
  animation: scroll 40s ease infinite;
  animation-delay: 1s;
  justify-content: space-around;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-25rem * 5));
  }
}
.slidess {
  height: 28rem;
  width: 20rem;
  position: relative;
  display: flex;
  margin: 1rem 1rem;
  border-radius: 5px;
}
.slidess:hover {
  transform: translateY(-20px);
  transition: 0.5s ease-in-out;
  border-radius: 5px;
}
.slidess:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #ee5dca, #85086a);
  z-index: 3;
  transition: 0.5s all;
  opacity: 0;
  border-radius: 5px;
}
.slidess:hover::before {
  opacity: 0.8;
  border-radius: 5px;
}
.slidess img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.info {
  position: relative;
  z-index: 4;
  text-align: center;
  transform: translateY(30px);
  align-self: center;
  opacity: 0;
  width: 20rem;
  border-radius: 5px;
}
.info a {
  position: relative;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  color: cornsilk;
  font-weight: bolder;
}
.slidess:hover .info {
  opacity: 1;
  transition: 0.5s all;
  border-radius: 5px;
  transform: translateY(0px);
}
.right {
  width: 40px;
  top: 0;
  position: fixed;
  color: cornsilk;
  font-weight: 600;
  height: auto;
  right: 40px;
  animation: slideInup 2s ease-in-out 1;
}
@keyframes slideInup {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.email {
  display: flex;
  flex-direction: column;
  position: relative;
  color:  rgb(83, 4, 57);
}
.email a {
  text-decoration: none;
  z-index: 1;
  padding: 8px;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
  color:  rgb(83, 4, 57);
}
.email a:hover {
  transform: translate(-3px, 0);
  transition: 0.2s all;
}
.right div::before {
  content: "";
  display: block;
  width: 0.5px;
  /* margin-left: 16px; */
  height: 50px;
  margin: 0 auto;
  background-color: cornsilk;
}

footer {
  width: 40px;
  position: fixed;
  bottom: 0;
  left: 40px;
  height: auto;
  display: block;
  animation: slideInLeft 2s ease-in-out 1;
}
.socials {
  list-style: none;
  align-items: center;
}

.one {
  text-decoration: none;
  background-color: none;
  padding-bottom: 2rem;
  color: rgb(83, 4, 57);
  /* color: rgb(245, 218, 218); */
}
.socials a i {
  font-size: 1.5rem;
  margin-top: 2px;
  color: rgb(83, 4, 57);
}

.one :hover {
  /* color:  rgb(83, 4, 57); */
  transform: translate(5px, 0);
  transition: 0.2s all;
}

.fa {

  text-align: center;
}
footer div::after {
  content: "";
  display: block;
  width: 1px;
  margin-left: 8px;
  height: 100px;
  background-color: cornsilk;
}


@keyframes roll {
  20% {
    transform: translate(20px, 0);
  }
  60% {
    transform: translate(-20px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slidein {
  from {
    margin-left: 150%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 50%;
  }
}

@media  (max-width: 1118px) {
  .profile {
    width: 100%;
    margin: 0 4rem;
    padding: 0;
  }
}
@media (max-width: 758px) {
  footer {
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .socials {
    display: flex;
  }
  .one {
    margin-right: 3rem;
  }
  .one:last-child {
    margin-right: 0;
  }

  footer div::after {
    content: "";
    display: none;
  }
  .right {
    display: none;
  }
  main {
    padding: 0;
  }
  .slider-track {
    padding: 0;
  }
  .profile {
    max-width: 100%;
    margin: 0 2rem !important;
    padding: 0;
  }
}

@media  (max-width: 558px) {
  html {
    font-size: 80%;
  }
  .subheader {
    height: 80vh;
  }
  .profile {
    display: block;
    max-width: 80%;
    margin: 0 4rem !important;
  }
  .aboutme {
    padding: 1.5rem;
  }
  .skill{
    padding: 0 2rem !important;
  }
  .first,
  .second,
  .third,
  .four {
    width: 100%;
    padding: 0;
    
  }
  .skillname{
    flex: 40%;
    text-align: right;
  }
  .progress{
    flex: 60%;
  }
}
@media (max-width : 395px){
  .profile{
    margin: 0 3rem !important;
    padding: 12px;
  }
  .pi{
    transform: translate(-2rem,-2rem);
  }
}

@media only screen and (max-width: 338px) {
  html {
    font-size: 40%;
  }
}
